div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

.wrapper {
    margin: 0 auto;
    max-width: 1350px;
}

a.link-no-style {
  color: #454545;
  font-size: 20px;
  &:hover {
    text-decoration: none;
  }
}

