#site-navbar {
  background-color: $color-primary;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.mr-6 {
  margin-right: 6rem;
}

.logo__text {
  position: relative;
  color: #000000;
  left: -2rem;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.42px;
}
